* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

/* Main Navbar Container */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 40px 0px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

/* Logo Section */
.navbar-logo {
  width: 100px;
  cursor: pointer;
}

.brand-logo {
  width: 100%;
}

/* Primary Navigation Links */
.navbar-primary-links {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}

.primary-link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

/* Utility Links and Search Bar */
.navbar-utility-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 5px;
  align-items: flex-end;
  gap: 10px; 
}

.utility-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.utility-link {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

.language-switcher img {
  width: 20px;
  cursor: pointer;
}

/* Search Bar */
.search-container {
  display: flex;
  padding-bottom: 15px;
  padding-left: 35px;
  align-items: center;
  width: 100%; /* Adjust width as needed */
}

.search-input {
  width: 280px;
  padding: 8px 10px;
  font-size: 12px;
  border: none;
  background-color: rgba(235, 237, 238, 1);
}

.icons-search-bar {
  width: 18px;
  margin-left: -25px;
  cursor: pointer;
}

.icons-bag {
  width: 18px;
  margin-left: 20px;
}

/* Sale Banner */
.sale-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sale-content {
  position: relative;
  width: 100%;
  max-width: 1920px;
}

.brand-banner {
  width: 100%;
  height: auto;
}

.sale-info {
  position: absolute;
  left: 9%; 
  bottom: 33%;
  text-align: left;
  color: #fff;
}

.event-sale {
  display: flex;
  font-family: 'Poppins';
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 3px;
}

.sale-button {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 15px 70px 15px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.sale-button::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #fff;
  z-index: 1;
}

.sale-button:active::before {
  top: 2px; 
  left: 2px;
  right: -2px;
  bottom: 2px;
}

.sale-button:active {
  border: 2px solid #fff;
  transform: translateY(2px);
}

.right-black-arrow {
  position: absolute;
  width: 30px;
  top: 60px;
  right: 70px;
  margin: -50px;
  z-index: 2;


}
.terms {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  color: #ffffff;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.banner-description {
  font-weight: 600;
  margin-bottom: 20px;
}
.terms:hover {
  background-color: #000;
}

/* Teaser Content */
.teaser-content-container {
  padding: 20px;
}

.teaser-title {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 115px;
  margin-bottom: 20px;
}

.teaser-content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-left: 115px;
}

.teaser-card {
  width: 320px;
  height: auto;
}

.teaser-media {
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}

.teaser-header {
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 1rem;
  line-height: 40px;
  cursor: pointer;
}

.teaser-description {
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-align: justify;
  flex-grow: 1;
  color: #000000;
  min-height: 60px;
  cursor: pointer;
}

.teaser-button {
  margin-top: auto;
} 

.teaser-link {
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif;
  word-spacing: 4px;
  color: #000;
  cursor: pointer;
}

.teaser-link:hover {
  background-color: #000000;
  color: #fff;
}

/* Category Section */

.category-section-container {
  display: flex;
  position: relative;
  margin: 60px 0px 0px 30px;
}

.category-content {
  position: relative;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  width: 600px;
  height: auto;
}

.category-media {
  width: 100%;
  height: 480px;
}

.category-button {
  position: absolute;
  left: 40%; 
  bottom: 4%;
  text-align: left;
  color: #fff;
}

.button-section {
  display: flex;
  background-color: #000000;
  gap: 10px;
  color: #ffffff;
  padding: 15px 70px 15px 15px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  z-index: 2;
}

.button-section i {
  position: absolute;
  font-size: 1.8em;
  top: 10px;
  right: 30px;
  transition: color 0.1s;
}

.button-section::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: -3px;
  bottom: 6px;
  border: 1px solid #000000;
}

/* .right-white-arrow {
  position: absolute;
  width: 30px;
  top: 60px;
  right: 70px;
  margin: -50px;
  z-index: 2;
  cursor: pointer;
} */
.button-section:active {
  transform: translateY(2px); 
  background-color: #000000;
}

.button-section:active::before {
  top: 2px; 
  left: 2px;
  right: -2px;
  bottom: 2px;
}

.category-button:hover .button-section {
  color: #424242;
}

.category-button:active .button-section {
  border: 1px solid #000000;
  transform: translateY(2px);
}

/* Product - Section */
.product-section-container {
  display: flex;
  position: relative;
  margin: 20px 0px 0px 20px;
  padding: 0px 8px 0px 0px;
}

.product-content {
  position: relative;
  align-items: center;
  margin: 15px;
  width: 500px;
}

.product-media {
  width: 100%;
  height: 245px;
  object-fit: cover;
}

.adidas-product {
  position: absolute;
  bottom: 10%;
  left: 37%;
}

.product-name {
  font-family: 'Poppins';
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000;
}

.product-name:hover {
  background-color: #000;
  color: #fff;
}

/* Adidas Product */

.adidas-product-section {
  padding: 20px;
}

.adidas-section-title {
  font-size: 27px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
}

.adidas-product-carousel {
  display: flex;
  gap: 10px;
  padding-left: 350px;
}

.adidas-product-card {
  position: relative;
  width: 270px;
  height: auto;
  cursor: pointer;
}

.adidas-product-card:hover {
  border: 1px solid black;
}

.adidas-product-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  font-style: oblique;
  font-size: 12px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: #fff;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.adidas-product-image {
  width: 100%;
}

.adidas-product-info {
  padding-left: 10px;
  padding-bottom: 40px;
  text-align: left;
}

.adidas-product-category {
  font-size: 12px;
  color: rgb(118, 118, 119);
}

.adidas-product-name {
  display: flex;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 8px;
  word-spacing: 2px;
}

.adidas-product-price {
  padding-top: 6px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.adidas-wishlist-button {
  position: absolute;
  font-size: 30px;
  border: none;
  top: 10px;
  right: 20px;
  cursor: pointer;
}